<!DOCTYPE html>

<html>

  <head>
       <title>Help</title>
       <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
 </head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
         <h2>How to Use This Weather App</h2>
    <p>Welcome to our weather app! Follow these steps to get the weather for your location:</p>
    <ol>
        <li>Enter the name of your location in the input field.</li>
        <li>Click the "Search" button.</li>
        <li>Wait a moment for the weather information to load.</li>
    </ol>
    </div>
    
    {{>footer}}
</body>
</html>
