/* styles.css */

/* Apply styles to the main container */
.main-content {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
}

/* Style the header */
header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the search form */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Style the result messages */
#message-1,
#message-2 {
    margin-top: 20px;
    font-size: 18px;
}

/* Add a footer style if you have a footer template */
footer {
    font-size: 14px;
    margin-top: 277px;
    text-align: center;
    background-color: rgb(194, 179, 179);
    padding: 4px 2px;

}

/* Additional styles can be added as needed */

